nome {
	color: #153e63;
	font-size: 15px;
	font-weight: bold;
}

descricao {
	font-size: 12px;
}

nome-principal {
	color: #0960f7;
	font-size: 25px;
	font-weight: bold;
}

.body-back {
	background-color: #FFFFFF;
}

.wrapper {
	font-family: arial;
	max-width: 1300px;
	margin : auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

#content {
	padding-top: 80px;
	padding-bottom: 30px;
}

.titulo {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#colunas {
	margin: auto;
	margin-top:50px;
	margin-bottom:10px;
	height: 460px;
	width: 1280px; 
	display: inherit;
	border-radius: 10px;
	font-size: 12px;
}

.coluna {
	background-color: #d8e2eb;
	float: left;
	height: 410px;
	width: 148px;
	margin-left: 10.5px;
	margin-top: 10px;
	border-radius: 10px;
	padding-top: 2px;
}

#disciplinas {
	background-color: #c0c0c0;
	margin: auto;
	margin-top: 10px;
	width: 1280px;
	display: inherit;
	font-size: 12px;
}

.disciplina {
	background-color: #FFFFFF;
	border-color: #d8e2eb;
	border-style:solid;
	margin:auto;
	margin-top:6px;
	width: 138px;
	border-radius: 10px;
	padding-top: 2px;
	text-align: center;
	position: relative;
}

.disciplina nome{
	color: #153e63;
	font-size: 12px;
	font-weight: bold;
	display:block;
}

.disciplina info{
	color: #000000;
	font-size: 12px;
	display: block;
}

.disciplina span1{
	font-size: 12px;
	margin-left: 10px;
}

.disciplina select{
	float:right;
	margin-right: 20px;
}
.disciplina:hover {
	background-color: #b2cfe9;
}

.titulo-periodo span{
	margin-top:40px;
}

.float-left {
	float: left;
	margin-left: 10px;	
}

.realocacao{
	padding-bottom: 0px;
}

.btn-left{
	margin-left:8px;
	margin-bottom: auto;
}
.btn-right{
	margin-right: 8px;
}

.botoes{
	padding-bottom: 20px;
}