<!DOCTYPE html>
<meta charset="utf-8">
<style type="text/css">

body {
	background-image: url("assets/images/background.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50px 180px;
}

</style>
<html style="height: 99%;">
<body>
<head>
<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<title>Cadastro</title>


<div class="jumbotron" style = "width: 550px; float: right; margin-top: 3%; margin-right: 3%; border-radius: 10px;">
	
	<div class="container" style = "width: 500px;">
		<div id="cadastro">
		
			<form class="form-horizontal" id="cadastro" method="POST"
				action="@routes.Autenticacao.cadastrarNovoUsuario()">
				<fieldset>
		
					<!-- Cadastre-se Aqui! -->
					<legend align="center">Cadastre-se Aqui</legend>
		
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">Digite o seu nome:</label>
						<div class="controls">
							<input id="nome" name="nome" type="text"
								placeholder="Nome Usuario" class="form-control">
							
						</div>
					</div>
		
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">Digite o seu email:</label>
						<div class="controls">
							<input id="email" name="email" type="text"
								placeholder="Email" class="form-control">
							
						</div>
					</div>
		
					<!-- Password input-->
					<div class="control-group">
						<label class="control-label" for="passwordinput">Senha: </label>
						<div class="controls">
							<input id="senha" name="senha" type="password"
								placeholder="Senha" class="form-control">
						</div>
					</div>
		
					<!-- Password input-->
					<div class="control-group">
						<label class="control-label" for="passwordinput">Confirme sua Senha:</label>
						<div class="controls">
							<input id="confirm_senha" name="confirm_senha" type="password"
								placeholder="Confirmação de senha" class="form-control">
							
						</div>
					</div>
		
					<!-- Button (Double) -->
					<div class="control-group">
						<label class="control-label" for="button1id"></label>
						<div class="controls">
							<button type="submit" id="button1id" name="button1id" class="btn btn-success">
								Cadastrar</button>
						</div>
					</div>
		
				</fieldset>
			</form>
		</div>
	</div>
</div>
</head>
<body class="body-back" style="height: 100%;">

</body>
</html>