<!DOCTYPE html>
<meta charset="utf-8">

<html style="height: 100%;">
    <head>
        <title>Login</title>
    <div id="cadastro">
    <form id="cadastro" method="POST" action="@routes.Autenticacao.cadastrarNovoUsuario()">
     <p><h1>Nome</h1>
     <p><input type="text" id="nome" name="nome" placeholder="nome"></p>
     <p><h1>E-mail</h1>
     <p><input type="text" id="email" name="email" placeholder="email"></p>
     <p><h1>Senha</h1>
     <p><input type="password" id="senha" name="senha" placeholder="senha"><p>
     <p><h1>Confirmação de Senha</h1>
     <p><input type="password" id="confirm_senha" name="confirm_senha" placeholder="senha"><p>
          
          
     <button type="submit" class="btn btn-success btn-xs">
       Cadastrar
     </button>
    </form>
    </div>
    </head>
    <body class="body-back" style="height: 100%;">

 </body>
</html>