@(usuario : Usuario, periodos : List[Periodo], planoDeCurso: PlanoDeCurso)

@import helper._ 
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

<head>
<meta charset="UTF-8">
</head>

<div class="wrapper">
	<div class="titulo" style="margin-top:50px;">
		<nome-principal>Plano de curso de: @usuario.getNome()</nome-principal>
	</div>
</div>
<div class="container">
	<div id="colunas"s>
		@for(periodo <- periodos){
			<div id="c@{periodos.indexOf(periodo)+1}" class="coluna" style="text-align:center; width:160px; height:800px ">
				<div class="titulo-periodo">
					<span><b>@{periodos.indexOf(periodo)+1}º Período </b></span>
					<p style="text-align: center;">
						@periodo.creditosTotal() Créditos<br>
						Dificuldade @periodo.getDificuldadePeriodo()
					</span>
					<hr style="border: 1px dotted grey;">
				</div>
			
			
			@for(disciplina <- periodo.getDisciplinas()){
				@if(planoDeCurso.temRequisitosDesalocados(disciplina.getId())){
					<div class="disciplina" style="background: orange;">
				}else{
					<div class="disciplina">
				}		<nome>@disciplina.getNomeCadeira()</nome>
						<info>Créditos: @disciplina.getCreditos() </info>
						<info>Dificuldade: @disciplina.getDificuldade</info>					
						
										</div>
			}
			</div>
		} 
	</div>
	</div>
	</div>
</div>
	
