@(planoDeCurso: PlanoDeCurso, periodoAtual:Integer, periodos: List[Periodo],disciplinas: List[Disciplina], errorMessage: String, disciplinaComDependentes: String, periodo: Integer)

@import helper._ 
<head>
<meta charset="UTF-8">
</head>


@main("Meu curso") {
<script type="text/javascript">
	function confirmaRemocaoComRequisito(nome, periodo){
		if(confirm("A disciplina " + nome + " é dependência de outras disciplinas.\nDeseja remover mesmo assim?(a remoção dela implicará na remoção de seus pós requisitos)")){
			 var campoNome =  document.getElementById('nomeCadeira');
			 var campoPeriodo = document.getElementById('periodo');
			 var formDelete = document.getElementById('delete');
			 campoNome.value = nome;
			 campoPeriodo.value = periodo;
			 formDelete.submit();
			 
		}
	}
</script>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Home</a>
				<a href='@routes.Autenticacao.logout()' class="navbar-brand">Sair</a>
			</div>
		</div>
	</div>
	
	
</header>

<div class="wrapper">
	<div class="titulo" style="margin-top:50px;">
		<nome-principal>Meu Curso</nome-principal>
	</div>
	@if(errorMessage){
	<div id="errorMessage" class="alert alert-warning alert-dismissable text-center">
		@errorMessage <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>
}	
	<div class="container">
		<form id="periodoAtual" method="POST" action="@routes.Application.atualizaPerAtual()">
	    	<label><small>Selecionar Período Atual:&nbsp;</small></label>
		   	<select name="periodoAtual">
			     <option value="1">1</option>
			     <option value="2">2</option>
			     <option value="3">3</option>
			     <option value="4">4</option>
			     <option value="5">5</option>
			     <option value="6">6</option>
			     <option value="7">7</option>
			     <option value="8">8</option>
		   	</select>
		   <button type="submit" class="btn btn-success btn-xs">
		    	<span style="font-size:xx-small;">Atualizar</span>
		   </button>
	  </form>
  	</div>
  	<label>Periodo Atual: @{planoDeCurso.getPeriodoAtual()+1}  º Periodo </label><br>
  	<label>Creditos Pagos: @planoDeCurso.calculaCreditosPagos()</label><br>
  	<label>Creditos Cursando: @planoDeCurso.calculaCreditosCursando()</label><br>
  	<label>Creditos Planejados: @planoDeCurso.calculaCreditosPlanejados()</label>
  
	<div id="colunas" style="width:100%; height: 900px; overflow-x:scroll; ">
	<div id="colunas" style="width:110%;">
		@for(periodo <- periodos){
			<div id="c@{periodos.indexOf(periodo)+1}" class="coluna" style="text-align:center; width:160px; height:800px ">
				<div class="titulo-periodo">
					<span><b>@{periodos.indexOf(periodo)+1}º Período </b></span>
					<p style="text-align: center;">
						@periodo.creditosTotal() Créditos<br>
						Dificuldade @periodo.getDificuldadePeriodo()
					</span>
					<hr style="border: 1px dotted grey;">
				</div>
			
			
			@for(disciplina <- periodo.getDisciplinas()){
				@if(planoDeCurso.temRequisitosDesalocados(disciplina.getId())){
					<div class="disciplina" style="background: orange;">
				}else{
					<div class="disciplina">
				}		<nome>@disciplina.getNomeCadeira()</nome>
						<info>Créditos: @disciplina.getCreditos() </info>
						<info>Dificuldade: @disciplina.getDificuldade</info>					
						
						<div class="realocacao">					
							<form id="realocarCadeira" method="post" action="@routes.Application.realocarCadeira()">
								<input type="hidden" name="nomeCadeira" id="nomeCadeira" value="@disciplina.getNomeCadeira()"/>
								<input type="hidden" name="idDisciplina" id="idDisciplina" value="@disciplina.getId()"/>
								<input type="hidden" name="periodo" id="periodo" value="@{periodos.indexOf(periodo)}"/>
								<input name="nomeCadeira" type="hidden" value="@disciplina.getNomeCadeira()">
								<br>
								<span1>Período:</span1>
								<select name="realoca_selecionado">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
						</div>
						<div class="botoes">	
								<button type="submit" class="btn btn-success btn-xs btn-left pull-left">
									<span style="font-size:xx-small;">Realocar</span>
								</button>
							</form>
						
						<form  name="delete" id="delete" method="post" action="@routes.Application.removerCadeira()">
							<input type="hidden" name="idDisciplina" id="idDisciplina" value="@disciplina.getId()"/>
							<input type="hidden" name="nomeCadeira" id="nomeCadeira" value="@disciplina.getNomeCadeira()"/>
							<input type="hidden" name="periodo" id="periodo" value="@{periodos.indexOf(periodo)}"/>
							<button type="submit" class="btn btn-danger btn-xs btn-right pull-right">
								<span style="font-size:xx-small;">Remover</span>
							</button>
						</div>
						</form>
				</div>
			}
			</div>
		} 
	</div>
	</div>
	
	<div class="titulo" style="margin-top: 180px;">
			<nome-principal>Disciplinas Ofertadas (Quantidade: @disciplinas.size())</nome-principal>
	</div>
	<br/>
	
	
	<div id="disciplinas" style="margin-left: 50px;">
		
		@for(disciplina <- disciplinas){
			<div class="disciplina float-left">
				<form id="addCadeira" method="POST" action="@routes.Application.addCadeira()">
				
				<nome>@disciplina.getNomeCadeira()</nome><br/>
				<descricao>@disciplina.getCreditos() creditos<br>Dificuldade @disciplina.getDificuldade()</descricao>
				<br>
				<label><small>Período:&nbsp;</small></label><select name="periodo">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
				</select>
					<input name="nomeCadeira" type="hidden" value="@disciplina.getNomeCadeira()">
					<input name="idDisciplina" type="hidden" value="@disciplina.getId()">
					<button type="submit" class="btn btn-success btn-xs">
						 Adicionar
					</button>
				</form>
			</div>
		}
	</div>
	
	@if(disciplinaComDependentes){
		<script> 
			confirmaRemocaoComRequisito('@disciplinaComDependentes', @periodo);  
		</script>
	}	

</div>

	

}
