@(planoDeCurso: PlanoDeCurso, periodoAtual:Integer, periodos: List[Periodo],disciplinas: List[Disciplina], errorMessage: String, disciplinaComDependentes: String, periodo: Integer)

@import helper._ 
<head>
<meta charset="UTF-8">
</head>


@main("Meu curso") {

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Home</a>
				<a href='@routes.Autenticacao.logout()' class="navbar-brand">Sair</a>
				<a href='@routes.Application.listaUsuarios()' class="navbar-brand">Usuarios</a>
			</div>
		</div>
	</div>
	
	
</header>

<div class="wrapper">
	<div class="titulo" style="margin-top:50px;">
		<nome-principal>Meu Curso</nome-principal>
	</div>
	@if(errorMessage){
	<div id="errorMessage" class="alert alert-warning alert-dismissable text-center">
		@errorMessage <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>
}	

	<div class="jumbotron" style="border-radius: 10px;">
	<form id="periodoAtual" method="POST" action="@routes.Application.atualizaPerAtual()">
    	<label>Selecionar Período Atual:&nbsp;</label>
	   	<select name="periodoAtual">
		     <option value="1">1</option>
		     <option value="2">2</option>
		     <option value="3">3</option>
		     <option value="4">4</option>
		     <option value="5">5</option>
		     <option value="6">6</option>
		     <option value="7">7</option>
		     <option value="8">8</option>
	   	</select>
	   <button type="submit" class="btn btn-success">
	    	<span>Atualizar</span>
	   </button>
    </form>
    <div style="float: left">
  	<label>Periodo Atual: @{planoDeCurso.getPeriodoAtual()+1}  º Periodo </label>&nbsp;&nbsp;&nbsp;
  	<label>Creditos Pagos: @planoDeCurso.calculaCreditosPagos()</label><br>
  	</div>
  	<div style="float: right">
  	<label>Creditos Cursando: @planoDeCurso.calculaCreditosCursando()</label>&nbsp;&nbsp;&nbsp;
  	<label>Creditos Planejados: @planoDeCurso.calculaCreditosPlanejados()</label>
  	</div>
  	</div>
  	<div class="container">
	<div id="colunas" style="width:100%; height: 900px;">
		@for(periodo <- periodos){
			<div id="c@{periodos.indexOf(periodo)+1}" class="coluna" style="text-align:center; width:160px; height:930px ">
				<div class="titulo-periodo">
					<span><b>@{periodos.indexOf(periodo)+1}º Período </b></span>
					<p style="text-align: center;">
						@periodo.creditosTotal() Créditos<br>
						Dificuldade @periodo.getDificuldadePeriodo()
					</span>
					<hr style="border: 1px dotted grey;">
				</div>
			
			
			@for(disciplina <- periodo.getDisciplinas()){
				@if(planoDeCurso.temRequisitosDesalocados(disciplina.getId())){
					<div class="disciplina" style="background: orange;">
				}else{
					<div class="disciplina" title="Créditos: @disciplina.getCreditos / Dificuldade: @disciplina.getDificuldade() ">
				}		<nome>@disciplina.getNomeCadeira()</nome>

						<div class="realocacao">					
							<form id="realocarCadeira" method="post" action="@routes.Application.realocarCadeira()">
								<input type="hidden" name="nomeCadeira" id="nomeCadeira" value="@disciplina.getNomeCadeira()"/>
								<input type="hidden" name="idDisciplina" id="idDisciplina" value="@disciplina.getId()"/>
								<input type="hidden" name="periodo" id="periodo" value="@{periodos.indexOf(periodo)}"/>
								<input name="nomeCadeira" type="hidden" value="@disciplina.getNomeCadeira()">
								<br>
								<span1>Período:</span1>
								<select name="realoca_selecionado">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
						</div>
						<div class="botoes">	
								<button type="submit" class="btn btn-success btn-xs btn-left pull-left">
									<span style="font-size:xx-small;">Realocar</span>
								</button>
							</form>
						
						<form  name="delete" id="delete" method="post" action="@routes.Application.removerCadeira()">
							<input type="hidden" name="idDisciplina" id="idDisciplina" value="@disciplina.getId()"/>
							<input type="hidden" name="nomeCadeira" id="nomeCadeira" value="@disciplina.getNomeCadeira()"/>
							<input type="hidden" name="periodo" id="periodo" value="@{periodos.indexOf(periodo)}"/>
							<button type="submit" class="btn btn-danger btn-xs btn-right pull-right">
								<span style="font-size:xx-small;">Remover</span>
							</button>
						</div>
						</form>
				</div>
			}
			</div>
		} 
	</div>
	</div>
	</div>
	<div class="titulo" style="margin-top: 180px;">
			<nome-principal>Disciplinas Ofertadas (Quantidade: @disciplinas.size())</nome-principal>
	</div>
	<br/>
	
	<div class="container">
	<div id="disciplinas">
		
		@for(disciplina <- disciplinas){
			<div class="disciplina float-left" title= "@disciplina.getCreditos() creditos / Dificuldade: @disciplina.getDificuldade()" >
				<form id="addCadeira" method="POST" action="@routes.Application.addCadeira()">
				
				<nome>@disciplina.getNomeCadeira()</nome><br/>
				<br>
				<label><small>Período:&nbsp;</small></label><select name="periodo">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
				</select>
					<input name="nomeCadeira" type="hidden" value="@disciplina.getNomeCadeira()">
					<input name="idDisciplina" type="hidden" value="@disciplina.getId()"><br>
					<button type="submit" class="btn btn-success btn-xs" style="margin-left: 14px; margin-top: 2px;">
						 Adicionar
					</button>
				</form>
			</div>
		}
	</div>
	</div>

</div>

	

}
