<!DOCTYPE html>

<html style="height: 100%;">
    <head>
        <title>Login</title>
    <div id="login">
    <form id="login" method="POST" action="@routes.Autenticacao.autenticarUsuario()">
          <p><input type="text" id="email" name="email" placeholder="emial"></p>
          <p><input type="password" id="senha" name="senha" placeholder="senha"><p>
     <button type="submit" class="btn btn-success btn-xs">
       Login
     </button>
     <button type="button" class="btn"
					onclick="location.href = '@routes.Autenticacao.cadastro()';">Cadastrar</button>
    </form>
    
    </div>
    </head>
    <body class="body-back" style="height: 100%;">

 </body>
</html>